@import url("../root.css");

body{
    background-image: url("../../imgs/main/compass-logo.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: var(--white);
}

main{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 44px;
}


.add__input{
    height: 100%;
}
.add__error--content, .add__error--hour,.add__error--hourContent, .add__error--maxContent{    
    color: var(--error);
    display: none;
    justify-content: center;
    
}


.add__name{
    width: 324px;
    height: 100%;
    border-radius: 10px;
    background-color: var(--white);
    border: 1px var(--btn-add) solid;
    padding-left: 100px;
    text-align: start;
}
.add__name::placeholder{
    color: #3B3E45;
}

.add__name--error{
    border: var(--error) 3px solid;
}
.add__time{
    height: 100%;
}

.add__weekdays{
    height: 100%;
    width: 210px;
    border-radius: 10px;
    border: 1px var(--btn-add) solid;
    background-color: var(--white);
    color: #3B3E45;
    padding-left: 15px;
}

.add__hour{
    height: 100%;
    width: 102px;
    border-radius: 10px;
    border: 1px var(--btn-add) solid;
    background-color: var(--white);
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
.add__hour--error{
    border: 3px var(--error) solid;
}

.plus, .remove{
    font-size: 1.5rem;
}

.add__btn, .add__remove{
    height: 100%;
    border-radius: 10px;
    border: transparent;
    font-size: 1.063rem;
    font-weight: 400;
    color: var(--white);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.add__btn{
    width: 222px;
    background-color: var(--btn-add);
}

.add__remove{
    width: 184px;    
    background-color: var(--btn-remove);    
}

.disable{
    display: none;
}
@media screen and (min-width: 2000px){
    .add__input{
        width: 30%;
    }
    .add__name{
        width: 100%;
    }
    .add__name::placeholder{
        align-items: center;
        font-size: 1.5rem;
    }
    .add{
        gap:0;
    }
    .add__weekdays{
        width: 20%;
        font-size: 1.5rem;
    }
    .add__time{
        width: 5%;
    }
    .add__hour{
        width: 100%;
        font-size: 1.5rem;
    }
    .add__btn, .add__remove{
        width: 8%;
    }
}
@media screen and (max-width: 768px) {
    .add{
        gap: 10px;
    }
    .add__name{
        width: 100px;
    }
}

@media screen and (max-width: 500px) {
    .add{
        flex-direction: column;
        justify-content: space-evenly;
        height: 30vh;
        gap: 10px;
    }
    .add__input{
        width: 90%;
    }
    .add__name{
        width: 100%;
        padding-left: 0px;
        height: 5vh;
        text-align: center;
        width: 100%;

    }
    .add__weekdays{
        height: 15vh;
        width: 90%;
    }
    .add__hour{
        height: 5vh;
    }
    .add__btn{
        height: 5vh;
        width: 70%;
    }
    .add__remove{
        height: 5vh;
    }
}