@import url("../root.css");

.weekdays{
    display: flex;
    align-items: center;
}

.weekdays__hour{
    height: 75px;
    width: 85px;
    border-radius: 10px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 24px 0px #A8A8A840;
    margin-right: 15px;
}

.weekdays__days{
    width: 95%;
}

.weekdays__list{    
    display: flex;
    width:95%;
    gap: 20px;
    align-items: center;
}

.weekdays__item{
    height: 33px;
    width: 150px;
    box-shadow: 0px 4px 24px 0px #A8A8A840;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
    color: var(--white);
    font-size: 1.063rem;
    font-weight: 700;
    cursor: pointer;
}

.weekdays__item--on{
    height: 33px;
    width: 200px;
    box-shadow: 0px 4px 24px 0px #A8A8A840;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
    color: var(--white);
    font-size: 1.063rem;
    font-weight: 700;
}

.Monday{
    background-color: var(--btn-Monday);
}
.Tuesday{
    background-color: var(--btn-Tuesday);
}
.Thursday{
    background-color: var(--btn-Thursday);
}
.Wednesday{
    background-color: var(--btn-Wednesday);
}
.Friday{
    background-color: var(--btn-Friday);
}
.Saturday{
    background-color: var(--btn-Saturday);
}
.Sunday{
    background-color: var(--btn-Sunday);
}

@media screen and (min-width: 2000px){
    .weekdays__item{
        min-width: 300px;
        font-size: 1.5rem;
    }
}
@media screen and (max-width:1024px) {
    .weekdays__item{
        min-width: 100px;
        font-size: 0.9rem;
    }
    .weekdays__days{
        width: 90%;
    }
}
@media screen and (max-width:768px) {
    .weekdays__days{
        width: 90%;
    }
    .weekdays__list{
        overflow: scroll;
    }
    .weekdays__item{
        min-width: 150px;
    }
}

@media screen and (max-width:500px) {
    .weekdays__hour{
        align-self: flex-end;
        width: 70px;
        height: 70px;
    }
    .weekdays__item{
        min-width: 150px;
    }
    .weekdays__list{
        overflow: scroll;
    }
    .weekdays__days{
        width: 76%;
    }
}